<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>
<body>
<div class="page-container">
    <th:block th:include="~{fragments/navbar}"></th:block>
    <main class="content-wrap">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Tasks</span></h1>
        <hr class="hr-3 w-75 bg-white"/>
        <form class="mx-auto w-75 " th:method="POST" th:action="@{/}">

            <div th:each="t : ${tasks}" th:object="${t}" class="card-group task-card">
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Name</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{name}">Repair Laptop</small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Assigned to</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{userUsername}">George</small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Classification</h5>
                    </div>
                    <div class="card-footer">
                        <small class="classifications" th:classappend="*{classificationClassificationName}"
                               th:text="*{classificationClassificationName}">SUPPORT</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title">Due Date</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{dueDate}">2020-08-30</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title">Progress</h5>
                    </div>
                    <div class="card-footer">
                        <small th:text="*{progress}">OPEN</small>
                    </div>
                </div>

                <a class="button prBtn" th:href="@{/tasks/progress/{id}(id = *{id})}">Progress</a>
            </div>

        </form>
    </main>

    <th:block th:include="~{fragments/footer}"></th:block>


</div>
</body>
</html>
